<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Hỏi Dân IT - Dự án laptopshop" />
    <meta name="author" content="Hỏi Dân IT" />
    <title>Detail Product - Hỏi Dân IT</title>
    <link href="/admin/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        $(document).ready(() => {
            const productFile = $("#productFile");
            productFile.change(function (e) {
                const imgURL = URL.createObjectURL(e.target.files[0]);
                $("#productPreview").attr("src", imgURL);
                $("#productPreview").css({ "display": "block" });
            });
        });
    </script>

</head>

<body class="sb-nav-fixed">
    <%- include('../layout/header'); -%>
        <div id="layoutSidenav">
            <%- include('../layout/sidenav'); -%>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid px-4">
                            <h1 class="mt-4">Manage Products</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                                <li class="breadcrumb-item active"><a href="/admin/product">Products</a></li>
                            </ol>
                        </div>

                        <div class="row gx-0">
                            <div class="col-6 mx-auto">
                                <% errors.forEach( function (error) { %>
                                    <div class="alert alert-danger mb-3">
                                        <%= error %>
                                    </div>
                                    <% }) %>
                                        <h5 style="padding: 10px 0;">Product detail:</h5>
                                        <form action="/admin/update-product" method="post"
                                            enctype="multipart/form-data">
                                            <input type="hidden" value="<%= product.id %>" name="id">
                                            <div class="row">
                                                <div class="mb-3 col-6">
                                                    <label for="name" class="form-label">Name</label>
                                                    <input name="name" type="text" class="form-control" id="name"
                                                        value="<%= product.name %>">
                                                </div>
                                                <div class="mb-3 col-6">
                                                    <label for="price" class="form-label">Price</label>
                                                    <input name="price" type="text" class="form-control" id="price"
                                                        value="<%= product.price %>">
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="detailDesc" class="form-label">Description</label>
                                                <textarea name="detailDesc" class="form-control" id="detailDesc"
                                                    rows="2"><%= product.detailDesc %></textarea>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3 col-6">
                                                    <label class="form-label" for="shortDesc">Short Description</label>
                                                    <input type="text" class="form-control" id="shortDesc"
                                                        name="shortDesc" value="<%= product.shortDesc %>">
                                                </div>
                                                <div class="mb-3 col-6">
                                                    <label class="form-label" for="quantity">Quantity</label>
                                                    <input type="number" value="<%= product.quantity %>"
                                                        class="form-control" id="quantity" name="quantity">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="mb-3 col-6">
                                                    <label class="form-label">Factory</label>
                                                    <select name="factory" class="form-select">
                                                        <% factories.forEach((factory)=> { %>
                                                            <option value="<%= factory.value %>"
                                                                <%=product.factory===factory.value ? "selected" : "" %>>
                                                                <%- factory.name %>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                </div>
                                                <div class="mb-3 col-6">
                                                    <label class="form-label">Target</label>
                                                    <select name="target" class="form-select">
                                                        <% targets.forEach((target)=>
                                                            { %>
                                                            <option value="<%= target.value %>"
                                                                <%=product.target===target.value ? "selected" : "" %>>
                                                                <%- target.label %>
                                                            </option>
                                                            <% }) %>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="mb-3">
                                                <label for="productFile" class="form-label">Image</label>
                                                <input name="image" class="form-control" type="file" id="productFile"
                                                    accept=".png, .jpg, .jpeg">
                                            </div>
                                            <% if (product.image) { %>
                                                <img style="max-height: 250px; display: block;" alt="product preview"
                                                    id="productPreview" src="/images/product/<%=product.image %>" />
                                                <% } else { %>
                                                    <img style="max-height: 250px; display: none;" alt="product preview"
                                                        id="productPreview" />
                                                    <% } %>
                                                        <div class="mb-3 pt-3">
                                                            <button type="submit"
                                                                class="btn btn-warning">Submit</button>
                                                        </div>
                                        </form>
                            </div>
                        </div>
                    </main>
                    <%- include('../layout/footer'); -%>
                </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="/admin/js/scripts.js"></script>
</body>

</html>